<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>Babylon Block Test</title>
	<link rel="stylesheet" href="assets/css/new.css">
</head>

<body>
	<hr>
	<p>Please enter an instruction below to move a block on the board.</p>
	<form>
		<button class="btn-submit">Submit</button>
		<input type="text" class="instr">
	</form>
	<canvas></canvas>
	<div class="right">
		<h4>Block Control</h4>
		<button class="btn-blue">Reset</button>
		<button class="btn-blue">Shuffle</button>
		<button class="btn-white">Examples v</button><br>

		<div class="preset-list">
			<div class="preset-card">
				<img src="assets/img/source.png">
				<p>Move the top right block to the bottom left corner. </p>
			</div>
			<div class="preset-card">
				<img src="assets/img/source.png">
				<p>Move the middle block to the left</p>
			</div>
		</div>

		<input type="checkbox"><span>Use Custom Block Locations</span><br>

		<div>
			<div>
				<div class="block-card"
					ng-style="{display: $ctrl.block.position.x == -1 && $ctrl.block.position.y == -1 && $ctrl.block.position.z == -1 ? 'none' : 'block'}">
					<svg class="block-card-action" ng-click="$ctrl.delete();">
						<line x1="5" y1="5" x2="15" y2="15" style="stroke: #A13333; stroke-width: 1px;"></line>
						<line x1="15" y1="5" x2="5" y2="15" style="stroke: #A13333; stroke-width: 1px;"></line>
					</svg>
					<label class="x-y-z-label" for="x">x:</label><input type="number" name="x" ng-model="$ctrl.block.position.x"><br>
					<label class="x-y-z-label" for="z">z:</label><input type="number" name="z" ng-model="$ctrl.block.position.z"><br>
				</div>
				<div class="block-card"
					ng-style="{display: $ctrl.block.position.x == -1 && $ctrl.block.position.y == -1 && $ctrl.block.position.z == -1 ? 'none' : 'block'}">
					<svg class="block-card-action" ng-click="$ctrl.delete();">
						<line x1="5" y1="5" x2="15" y2="15" style="stroke: #A13333; stroke-width: 1px;"></line>
						<line x1="15" y1="5" x2="5" y2="15" style="stroke: #A13333; stroke-width: 1px;"></line>
					</svg>
					<label class="x-y-z-label" for="x">x:</label><input type="number" name="x" ng-model="$ctrl.block.position.x"><br>
					<label class="x-y-z-label" for="z">z:</label><input type="number" name="z" ng-model="$ctrl.block.position.z"><br>
				</div>
			</div>
			<div class="block-card">
				<svg class="block-card-action">
					<line x1="10" y1="3" x2="10" y2="17" style="stroke: #35A133; stroke-width: 1px;"></line>
					<line x1="3" y1="10" x2="17" y2="10" style="stroke: #35A133; stroke-width: 1px;"></line>
				</svg>
				<label class="x-y-z-label" for="x">x:</label><input type="text" id="x2" name="x"><br>
				<label class="x-y-z-label" for="z">z:</label><input type="text" id="z2" name="z"><br>
			</div>
		</div>

	</div>
</body>

</html>