body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1280px;
	margin: auto;
}

form {
	margin-bottom: 20px;
}

.instr {
	border: 2px solid #c4c4c4;
	border-radius: 4px;
	width: calc(100% - 88.5px);
	min-width: 240px;
	height: 25px;
	padding-left: 12px;
}

.btn-submit {
	cursor: pointer;
	float: right;
	width: min-content;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	border-color: #428BCA;
	background-color: #428BCA;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #ffffff;
}

.btn-blue {
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	border-color: #428BCA;
	background-color: #428BCA;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #ffffff;
}

.btn-white {
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	background-color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}

canvas {
	display: inline-block;
	min-width: 320px;
	width: calc(100% - 320px);
}

.right {
	display: inline-block;
	vertical-align: top;
	justify-content: left;
	min-width: 257px;
	padding-left: 10px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.block-card {
	width: max-content;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	margin-top: 15px;
	padding: 15px;
}

.x-y-z-label {
	margin-right: 5px;
	clear: left;
}

.block-card-action {
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	margin-left: 15px;
	margin-top: 10px
}

.preset-list {
	position: absolute;
	box-shadow: 2px 2px 4px #c4c4c4;
	background-color: #ffffff;
	border: 2px solid #c4c4c4;
	border-radius: 4px;
	padding-left: 8px; 
	padding-right: 8px;
	padding-bottom: 8px;
}

.preset-card {
	cursor: pointer;
	margin-top: 5px;
	width: 235px;
	height: 70px;
}

.preset-card:hover {
	background-color: #c7c7c7;
}

.preset-card p {
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 130px;
	height: 70px;
	font-size: 14px;
}

.preset-card img {
	display: inline-block;
	height: 70px;
	width: 100px;
}