<h3>Basic Usage</h3>
<p>To move a block on the board, type an instruction in the text area and click submit. 
	In this example, the instruction requests that the far left block be moved to the top 
	right. You can see that the specified block is moved to the correct location.</p>
<img class="example-img" src="assets/img/example_1.gif">

<h3>Reset & Shuffle Buttons</h3>
<p>The Shuffle button randomizes all block locations. This can be used to quickly
	test an instruction on different board configurations.</p>
<p>In contrast to Shuffle, the Reset button can be used to test different instructions on the same board. 
	The Reset button will undo all instructions since the last Shuffle or since the page laod</p>